.lastArticles{
    // border: 1px solid blue;
    background: var(--lightGray);
    padding: 5rem 0;
    .title__h1{
        text-align: center;
        padding-bottom: 1rem;
    }
    .title__h3{
        text-align: left;
    }
    &__grid{
        display: grid;
        grid-row-gap: 2rem;
    }
    &__item{
        // border: 1px solid red;
        border-radius: 0.5rem;
        overflow: hidden;
        background: var(--white);
        &-content{
            padding: 1.8rem;
        }
        .copy{
            color: var(--grayishBlue);
        }
        small{
            color: var(--grayishBlue);
            margin-bottom: 1rem;
            display: block;
        }
        img{
            width: 100%;
            object-fit: cover;
            display: block;
        }
    }
}