@import "./header.scss";
@import "./hero.scss";
@import "./menu.scss";
@import "./why.scss";
@import "./lastArticles.scss";
@import "./footer.scss";

:root{
    --darkBlue: hsl(233, 26%, 24%);
    --limeGreen:hsl(136, 65%, 51%);
    --brightCyan: hsl(192, 70%, 51%);

    --grayishBlue:hsl(233, 8%, 62%);
    --lightGrayishBlue: hsl(220, 16%, 96%);
    --lightGray: hsl(0, 0%, 98%);
    --white:  hsl(0, 0%, 100%);

    --wrapperSpace: 1.5rem;
    font-size: 16px;
}

.is-hidden{
    display: none !important;
}

body{
    margin: 0;
    font-family: 'Public Sans', sans-serif;
    color: var(--grayishBlue);
}

.wrapper{
    padding: 0 var(--wrapperSpace);
    max-width: calc(1115px + 1.5rem);
    margin: auto;
    width: 100%;
    box-sizing: border-box;
}

//Los mixin son un conjunto de propiedades que luego pueden ser importadas a otras clases, con el objetivo de no volver a repetirlas
@mixin title {
    font-size: 2.5rem;
    color: var(--darkBlue);
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    margin-bottom: .5rem;
}

.title{
    &__h1{
        @include title;
        
    }
    &__h2{
        @include title;
        font-size: 1.5rem;
    }
    &__h3{
        @include title;
        font-size: 1rem;
    }
}

.copy{
    line-height: 1.4;
    font-size: 0.9rem;
}

.button{
    border: none;
    padding: .7rem 1.8rem;
    font-size: 1rem;
    border-radius: 1.5rem;
    color: var(--white);
    background: linear-gradient(to right, var(--limeGreen) 0%, var(--brightCyan) 100%);
}

@mixin icon {
    width: 25px;
    height: 25px;
    //Cuando es un ancla, el display por defecto es "inline", lo que hace que no tenga ancho ni alto
    display: inline-flex;
    background-repeat: no-repeat;
}

.icon{
    &__facebook{
        @include icon();
        background-image: url('../images/icon-facebook.svg');
    }
    &__youtube{
        @include icon();
        background-image: url('../images/icon-youtube.svg');
    }
    &__twitter{
        @include icon();
        background-image: url('../images/icon-twitter.svg');
    }
    &__pinterest{
        @include icon();
        background-image: url('../images/icon-pinterest.svg');
    }
    &__instagram{
        @include icon();
        background-image: url('../images/icon-instagram.svg');
    }
}
