@import "./header.scss";
@import "./hero.scss";
@import "./menu.scss";
@import "./why.scss";
@import "./lastArticles.scss";

:root{
    --darkBlue: hsl(233, 26%, 24%);
    --limeGreen:hsl(136, 65%, 51%);
    --brightCyan: hsl(192, 70%, 51%);

    --grayishBlue:hsl(233, 8%, 62%);
    --lightGrayishBlue: hsl(220, 16%, 96%);
    --lightGray: hsl(0, 0%, 98%);
    --white:  hsl(0, 0%, 100%);

    --wrapperSpace: 1.5rem;
    font-size: 16px;
}

.is-hidden{
    display: none !important;
}

body{
    margin: 0;
    font-family: 'Public Sans', sans-serif;
    color: var(--grayishBlue);
}

.wrapper{
    padding: 0 var(--wrapperSpace);
}

.title{
    &__h1{
        // border: 1px solid blue;
        font-size: 2.5rem;
        color: var(--darkBlue);
        font-weight: 300;
        line-height: 1.2;
        margin: 0;
        margin-bottom: .5rem;
    }
    &__h2{
        @extend .title__h1;
        font-size: 1.5rem;
    }
}

.copy{
    line-height: 1.4;
    font-size: 0.9rem;
}

.button{
    border: none;
    padding: .7rem 1.8rem;
    font-size: 1rem;
    border-radius: 1.5rem;
    color: var(--white);
    background: linear-gradient(to right, var(--limeGreen) 0%, var(--brightCyan) 100%);
}


