.why{
    text-align: center;
    background: var(--lightGrayishBlue);
    padding: 5rem 0;
    .copy{
        margin-bottom: 4rem;
        font-size: 1rem;
    }
    &__item{
        // border: 1px solid red;
        .copy{
            margin-bottom: 2rem;
        }
        img{
            margin-bottom: 1.4rem;
        }
    }
}