.header {
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
}
.header__logo {
  align-self: center;
}
.header .button {
  display: none;
}
.header__content {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  .header .button {
    display: inline;
  }
  .header__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.hero {
  text-align: center;
  padding-bottom: 5rem;
  background: var(--lightGray);
}
.hero .copy {
  margin-bottom: 2.5rem;
}
.hero__image {
  height: 300px;
  margin: 0 calc(var(--wrapperSpace) * -1);
  margin-bottom: 1.2rem;
  background: url("../images/image-mockups.png") center bottom no-repeat, url("../images/bg-intro-mobile.svg") center no-repeat;
  background-size: 345px, cover;
}
@media screen and (min-width: 768px) {
  .hero {
    text-align: left;
    background: url("../images/bg-intro-desktop.svg") left 650px top -290px no-repeat;
    background-size: cover;
    min-height: 550px;
    box-sizing: border-box;
  }
  .hero__content {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-areas: "description image";
    grid-template-columns: 480px 1fr;
    min-height: 550px;
  }
  .hero__description {
    grid-area: description;
  }
  .hero__image {
    grid-area: image;
    min-height: inherit;
    position: absolute;
    width: 500px;
    height: 768px;
    left: 0;
    top: 0;
    background: url("../images/image-mockups.png") left bottom no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 1024px) {
  .hero__image {
    background: url("../images/image-mockups.png") right -100px bottom 0 no-repeat;
    background-size: 100%;
    left: 150px;
    right: 0;
    top: 0;
  }
}

.menu {
  display: none;
  list-style: none;
}
.menu__button {
  width: 40px;
  height: 40px;
  background: url("../images/icon-hamburger.svg") center no-repeat;
}
.menu a {
  text-decoration: none;
  color: var(--grayishBlue);
  padding: 0 0.8em;
}
@media screen and (min-width: 1024px) {
  .menu {
    display: flex;
  }
  .menu__button {
    display: none;
  }
}

.why {
  text-align: center;
  background: var(--lightGrayishBlue);
  padding: 5rem 0;
}
.why .copy {
  margin-bottom: 4rem;
  font-size: 1rem;
}
.why__item .copy {
  margin-bottom: 2rem;
}
.why__item img {
  margin-bottom: 1.4rem;
}
@media screen and (min-width: 768px) {
  .why {
    text-align: left;
  }
  .why__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .why__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.lastArticles {
  background: var(--lightGray);
  padding: 5rem 0;
}
.lastArticles .title__h1 {
  text-align: center;
  padding-bottom: 1rem;
}
.lastArticles .title__h3 {
  text-align: left;
}
.lastArticles__grid {
  display: grid;
  grid-row-gap: 2rem;
}
.lastArticles__item {
  border-radius: 0.5rem;
  overflow: hidden;
  background: var(--white);
}
.lastArticles__item-content {
  padding: 1.8rem;
}
.lastArticles__item .copy {
  color: var(--grayishBlue);
}
.lastArticles__item small {
  color: var(--grayishBlue);
  margin-bottom: 1rem;
  display: block;
}
.lastArticles__item img {
  width: 100%;
  object-fit: cover;
  display: block;
}
@media screen and (min-width: 768px) {
  .lastArticles .title__h1 {
    text-align: left;
  }
  .lastArticles__item-content {
    padding: 1rem;
  }
  .lastArticles__grid {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .lastArticles__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.footer {
  background-color: var(--darkBlue);
  color: var(--white);
  padding: 2rem 0;
  text-align: center;
}
.footer__logo {
  display: block;
  margin: auto;
  margin-bottom: 2rem;
}
.footer__link {
  display: block;
  color: var(--lightGray);
  text-decoration: none;
  margin-bottom: 1.5rem;
}
.footer__social {
  display: grid;
  grid-template-columns: repeat(5, 25px);
  grid-column-gap: 1em;
  justify-content: center;
  margin: 2.5rem 0;
}
.footer__copyright {
  color: var(--grayishBlue);
  margin-top: 2.5rem;
}
@media screen and (min-width: 1024px) {
  .footer .wrapper {
    display: grid;
    grid-template-columns: 200px 1fr 400px;
    grid-template-areas: "logo links button" "social links copyright";
    grid-column-gap: 7rem;
  }
  .footer__links {
    grid-area: links;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
  }
  .footer__logo {
    grid-area: logo;
    margin: initial;
  }
  .footer__social {
    grid-area: social;
  }
  .footer__button {
    grid-area: button;
    text-align: right;
  }
  .footer__copyright {
    grid-area: copyright;
    text-align: right;
  }
}

:root {
  --darkBlue: hsl(233, 26%, 24%);
  --limeGreen:hsl(136, 65%, 51%);
  --brightCyan: hsl(192, 70%, 51%);
  --grayishBlue:hsl(233, 8%, 62%);
  --lightGrayishBlue: hsl(220, 16%, 96%);
  --lightGray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --wrapperSpace: 1.5rem;
  font-size: 16px;
}

.is-hidden {
  display: none !important;
}

body {
  margin: 0;
  font-family: "Public Sans", sans-serif;
  color: var(--grayishBlue);
}

.wrapper {
  padding: 0 var(--wrapperSpace);
  max-width: 1115px;
  width: 100%;
  margin: auto;
}

.title__h1 {
  font-size: 2.5rem;
  color: var(--darkBlue);
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 0.5rem;
}
.title__h2 {
  font-size: 2.5rem;
  color: var(--darkBlue);
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}
.title__h3 {
  font-size: 2.5rem;
  color: var(--darkBlue);
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.copy {
  line-height: 1.4;
  font-size: 0.9rem;
}

.button {
  border: none;
  padding: 0.7rem 1.8rem;
  font-size: 1rem;
  border-radius: 1.5rem;
  color: var(--white);
  background: linear-gradient(to right, var(--limeGreen) 0%, var(--brightCyan) 100%);
}

.icon__facebook {
  width: 25px;
  height: 25px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url("../images/icon-facebook.svg");
}
.icon__youtube {
  width: 25px;
  height: 25px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url("../images/icon-youtube.svg");
}
.icon__twitter {
  width: 25px;
  height: 25px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url("../images/icon-twitter.svg");
}
.icon__pinterest {
  width: 25px;
  height: 25px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url("../images/icon-pinterest.svg");
}
.icon__instagram {
  width: 25px;
  height: 25px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url("../images/icon-instagram.svg");
}

/*# sourceMappingURL=style.css.map */
